<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>

    {% if error_message %}
    <div style="color: red; text-align: center; margin-top: 10px;">
        <p>{{ error_message }}</p>
    </div>
    {% endif %}

    <a href="/register">Cadastre-se aqui</a></p>
</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
